{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
{% include "header.html" %}

<!--{% block title %}BooKeep{% endblock %}-->
<div class="container search">
  <h1 class="heading bookeep">My Books</h1>
    {{ wtf.quick_form(form, novalidate=True) }}
</div>
<div class="container books">
    <h4>
        <b>Number of books: {{num_books}}</b>
    </h4>
</div>

<form method="POST" action="{{ url_for('delete') }}">
    <input class="delete btn btn-primary button delete-button" type="submit" value="Delete">
    <div class="container">
    <div class="row  books ">
            {% for book in books %}
                <div class="col-md-2 book">
                    <img class="bookimage" src="{{book.img_url}}">
                    <input type="checkbox" name="books" value="{{book.id}}">
                    <a  href="{{url_for('bookdetails',id=book.id)}}"><p class="bookname">{{book.title}}</p></a>
<!--                    <a href="{{url_for('delete', id=book.id)}}" class="button btn btn-primary delete-button">Delete</a>-->
                </div>
                {% if loop.index % 6 == 0 %}
                        <div class="row"></div>
                    {% endif %}
             {% endfor %}
    </div>
</div>
</form>


{% endblock %}


